
/* Home */
body {
  background-color: #f9f1f3;
}

header {
  display: flex;
  height:100px;
  justify-content:space-between;
  align-items: center;
}

.logo{
  padding-left: 20px;
}
.menu a{
  color: black;
  font-size: 22px;
  text-decoration: none;
  font-family: "Andale Mono", "Monaco", monospace;
  padding: 60px;
}

.introAndHero{
  display: flex;
  flex-flow:  row wrap;
  justify-content: space-around;
  height: 600px;
}

#intro{
  position: relative;
  left: 100px;
  top: 20px;
  color: black;
  font-size: 24px;
  font-family: sans-serif;
  font-weight: 500;
  margin-bottom: none;
}

#pronunciation{
  position: relative;
  left: 500px;
  top: 30px;
  color: black;
  font-size: 12px;
  font-family: sans-serif;
  font-weight: 500;
}

#name{
  position: relative;
  left: 100px;
  bottom: 50px;
  color: #D62E38;
  font-size: 75px;
  font-family: sans-serif;
  font-weight: 700;
  line-height: 106px;
  margin-bottom: 0%;
}

#bio{
  margin-top: 0%;
  position: relative;
  left: 100px;
  bottom: 20px;
  text-align: left;
  width: 586px;
  font-size: 20px;
  font-family: sans-serif;
  font-weight: 300;
  line-height: 42px;
}

#bio span{
  font-weight: 500;
}

.heroImages{
  max-width: 50%;
  display: flex;
  flex-flow:  row wrap;
  justify-content: center;
  position: relative;
  top: 50px;
  left: 85px;
}

.hero2{
  position: relative;
  right: 190px;
  bottom: 350px;
}

.hero3{
  position: relative;
  bottom: 500px;
  left: 100px;
}

.learnMoreButton{
  display: flex;
  flex-flow:  column;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 115px;
}

#learnMore{
  background-color: #f9f1f3;
  border: none;
  font-size: 24px;
  font-family: sans-serif;
  font-weight: 600;
}

.resume{
  height: 860px;
  display: flex;
  flex-flow: column wrap;
}

.leftResume{
  height: 860px;
  max-width: 30%;
}

.resume h1{
  position: relative;
  left: 100px;
  bottom: 50px;
  color: #D62E38;
  font-size: 75px;
  font-family: sans-serif;
  font-weight: 700;
  font-style: italic;
  margin-bottom: 0%;
}

.resume h2{
  position: relative;
  left: 100px;
  bottom: 20px;
  color: black;
  font-size: 36px;
  font-family: sans-serif;
  font-weight: 700;
  margin-top: 0%;
  margin-bottom: 10px;
}

.resume h3{
  position: relative;
  left: 100px;
  bottom: 20px;
  color: #D62E38;
  font-size: 20px;
  font-family: sans-serif;
  font-weight: 600;
  margin: 0%;
}

.resume h4{
  position: relative;
  left: 100px;
  bottom: 16px;
  color: #747373;
  font-size: 16px;
  font-family: sans-serif;
  font-weight: 300;
  margin: 0%;
}

.resume p{
  color: black;
  margin-top: 0%;
  position: relative;
  left: 100px;
  bottom: 32px;
  text-align: left;
  width: 586px;
  font-size: 16px;
  font-family: sans-serif;
  font-weight: 300;
  line-height: 42px;
}


.flexRow{
  display: flex;
  flex-flow: row;
}

.education h3{
  padding-right: 10px;
}

.title{
  height: 30px;
}

.dartmouth{
  position: relative;
  bottom: 20px;
}

.skills h3{
  padding-right: 120px;
}


.resume li{
  list-style-type: none;
  color: black;
  font-size: 14px;
  font-family: sans-serif;
  font-weight: 300;
  line-height: 30px;
  position: relative;
  left: 62px;
  bottom: 20px;
}

.education{
  height: 190px;
}

.skills h3{
  width: 472px;
}

ul{
  margin-top: 0%;
}

.list3{
  position: relative;
  left: 70px;
}

.rightResume{
  height: 860px;
  max-width: 70%;
}
.experience{
  position: relative;
  left: 30px;
}
.experience p{
  line-height: 30px;
  position: relative;
  bottom: 10px;
  font-size: 14px;
  margin-bottom: 30px;
}

.pdf{
  height: 140px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  text-decoration: underline;
  color: #D62E38;
  font-size: 16px;
  font-family: sans-serif;
  font-weight: 600;
}

.myProjectsButton{
  display: flex;
  flex-flow:  column;
  justify-content:flex-start;
  align-items: center;
  position: relative;
  height: 115px;
  bottom: 65px;
}

#myProjects{
  background-color: #f9f1f3;
  border: none;
  font-size: 24px;
  font-family: sans-serif;
  font-weight: 600;
  
}

.projects{
  font-size: 30px;
  display: grid;
  grid-template-columns: 500px 500px;
  grid-gap: 20px;
  justify-content: center;
  padding: 100px;
}

.projects h2{
  position: relative;
  left: 20px;
  font-size: 36px;
  font-family: sans-serif;
  font-weight: 700;
}

.projects h3{
  position: relative;
  left: 25px;
  font-size: 24px;
  font-family: sans-serif;
  font-weight: 400;
  bottom: 20px;
}

.dalaTile{
  height: 546px;
  grid-column: 1 / span 2;
  border-radius: 15px;
  background: linear-gradient(137.47deg, #DDDE52 32.9%, #FFFFFF 90.91%);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.dalaTile img{
  position: relative;
  left: 30%;
}

.raosTile{
  height: 546px;
  border-radius: 15px;
  background: #F5DADF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  color: #D62E38;
}

.raosTile img{
  position: relative;
  left: 10%;
  bottom: 20px;
}

.tripeesTile{
  height: 546px;
  border-radius: 15px;
  background: linear-gradient(180.07deg, #C3D3DE 29.77%, #F1A173 99.94%);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  color: white;
}

.tripeesTile img{
  position: relative;
  left: 15%;
}

footer{
  height: 300px;
  display: flex;
  flex-flow: column;
  justify-content:space-between;
  align-items: center;
}

.footerLinks{
  display: flex;
  flex-flow:  row nowrap;
  justify-content: center;
}

.footerLinks a{
  padding-left: 50px;
  padding-right: 50px;
  color: black;
  font-size: 22px;
  text-decoration: none;
  font-family: "Andale Mono", "Monaco", monospace;
}

.projectsAndFooter{
  background-image: url("/images/projectsImage.png");
}

footer div{
  color: #D62E38;
}

@media only screen and (max-width: 600){
  .projects{
    grid-template-columns: 500px;
    grid-gap: 10px;
    padding: 5px;
  }
}